In [22]:
import numpy as np
import pandas as pd

In [23]:
magmo_multi_tran = pd.read_csv('~/Desktop/lv_data/pairs_multi_trans.csv')
magmo_multi_tran = magmo_multi_tran[['Source name', 'Trans', 'Mid_Vel', 'A-Positive', 'A-Negative']]

In [24]:
magmo_multi_tran

       Source name  Trans  Mid_Vel A-Positive A-Negative
0    188.946+0.886   1665     8.50          2          0
1    188.946+0.886   1667     8.60          1          0
2    189.030+0.783   1665     9.85          0          1
3    189.030+0.783   1667    10.00          0          1
4    196.453−1.677   1665    15.95          0          1
..             ...    ...      ...        ...        ...
535  019.609−0.235   1665    32.15          0          1
536  019.609−0.235   1667    31.10          0          1
537  019.609−0.235   1612    45.75          N          N
538  019.613−0.134   1665    54.95          1          0
539  019.883−0.534   1667    45.50          0          1

[540 rows x 5 columns]

In [25]:
magmo_multi_tran['Trans'].apply(type)

0      <class 'int'>
1      <class 'int'>
2      <class 'int'>
3      <class 'int'>
4      <class 'int'>
           ...
535    <class 'int'>
536    <class 'int'>
537    <class 'int'>
538    <class 'int'>
539    <class 'int'>
Name: Trans, Length: 540, dtype: object

In [28]:
magmo_multi_tran['Trans'] = magmo_multi_tran['Trans'].astype('str')

In [29]:
magmo_multi_tran['Trans'].apply(type)

0      <class 'str'>
1      <class 'str'>
2      <class 'str'>
3      <class 'str'>
4      <class 'str'>
           ...
535    <class 'str'>
536    <class 'str'>
537    <class 'str'>
538    <class 'str'>
539    <class 'str'>
Name: Trans, Length: 540, dtype: object

In [35]:
magmo_multi_tran_1665 = magmo_multi_tran.loc[magmo_multi_tran['Trans'] == '1665']

In [36]:
magmo_multi_tran_1665

       Source name Trans  Mid_Vel A-Positive A-Negative
0    188.946+0.886  1665     8.50          2          0
2    189.030+0.783  1665     9.85          0          1
4    196.453−1.677  1665    15.95          0          1
6    232.620+0.996  1665    21.45          1          0
7    263.250+0.514  1665    15.25     SINGLE     SINGLE
..             ...   ...      ...        ...        ...
529  019.473+0.170  1665    15.60          0          1
531  019.487+0.151  1665    23.35   NOT SURE   NOT SURE
534  019.497+0.116  1665   121.65   NOT SURE   NOT SURE
535  019.609−0.235  1665    32.15          0          1
538  019.613−0.134  1665    54.95          1          0

[301 rows x 5 columns]