In [1]:
import numpy as np
import pandas as pd

In [2]:
magmo_df = pd.read_csv('~/Desktop/lv_data/ALL_MAGMO_fitted_params_Bfield.csv')
magmo_df = magmo_df[['Source Name', 'Trans', 'Vel_RCP', 'Vel_LCP', 'B_field (mG)', 'Reliability']]

In [3]:
magmo_df

        Source Name  Trans  Vel_RCP  Vel_LCP  B_field (mG) Reliability
0     188.946+0.886   1665     6.82      NaN           NaN         NaN
1     188.946+0.886   1665      NaN     7.43           NaN         NaN
2     188.946+0.886   1665      NaN     8.28           NaN         NaN
3     188.946+0.886   1665     9.14     8.58           0.9           B
4     188.946+0.886   1665     9.51     8.93           1.0           A
...             ...    ...      ...      ...           ...         ...
4678  019.613-0.134   1665    55.00    55.08          -0.1           N
4679  019.613-0.134   1665      NaN    55.50           NaN         NaN
4680  019.613-0.134   1665      NaN    57.89           NaN         NaN
4681  019.883-0.534   1667    45.49    45.61          -0.3           A
4682  019.883-0.534   1667    45.83      NaN           NaN         NaN

[4683 rows x 6 columns]

In [4]:
split_pairs = magmo_df[magmo_df['Reliability'] == 'A']

In [5]:
split_pairs

        Source Name  Trans  Vel_RCP  Vel_LCP  B_field (mG) Reliability
4     188.946+0.886   1665     9.51     8.93           1.0           A
8     188.946+0.886   1667     9.16     8.87           0.8           A
9     189.030+0.783   1665     9.49    10.30          -1.4           A
10    189.030+0.783   1667     9.74    10.08          -1.0           A
12    189.776+0.346   1720    11.73    12.58          -7.5           A
...             ...    ...      ...      ...           ...         ...
4628  019.487+0.151   1612    25.37    25.27           0.8           A
4637  019.609-0.235   1665    20.90    22.16          -2.1           A
4658  019.609-0.235   1667    21.27    21.89          -1.8           A
4675  019.613-0.134   1665    53.09    53.00           0.2           A
4681  019.883-0.534   1667    45.49    45.61          -0.3           A

[428 rows x 6 columns]

In [6]:
split_pairs.to_csv('A_paired_sources.csv', encoding='utf-8')

In [15]:
split_pairs.loc[split_pairs['Source Name'] == "019.609-0.235"]

        Source Name  Trans  Vel_RCP  Vel_LCP  B_field (mG) Reliability
4637  019.609-0.235   1665    20.90    22.16          -2.1           A
4658  019.609-0.235   1667    21.27    21.89          -1.8           A

In [18]:
import sys, os
print(next(os.walk('.'))[1])

['.ipynb_checkpoints', '.git']